<h2>AdminPanel</h2>
<br />
@Html.ActionLink("Menus", "Create", "Menus", null, new { @class = "btn btn-success" })
@Html.ActionLink("Blog", "Create", "Blogs", null, new { @class = "btn btn-success" })
@Html.ActionLink("Category", "Create", "Categories", null, new { @class = "btn btn-success" })
@Html.ActionLink("Contact", "Create", "Contacts", null, new { @class = "btn btn-success" })
@Html.ActionLink("Feature Boxes", "Create", "Feature_Boxes", null, new { @class = "btn btn-success" })
@Html.ActionLink("Industries", "Create", "Industries", null, new { @class = "btn btn-success" })
@Html.ActionLink("Service Area Contents", "Create", "Service_Area_Contents", null, new { @class = "btn btn-success" })
@Html.ActionLink("Service Area", "Create", "Service_Area", null, new { @class = "btn btn-success" })
@Html.ActionLink("Project Area", "Create", "Project_Area", null, new { @class = "btn btn-success" })
@Html.ActionLink("Slider", "Create", "Sliders", null, new { @class = "btn btn-success" })
@Html.ActionLink("Testimonials Slider", "Create", "Testimonials_Slider", null, new { @class = "btn btn-success" })