@model IEnumerable<Fancy_Magazine.Models.Feature_Boxes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.feature_boxes_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feature_boxes_icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feature_boxes_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feature_boxes_url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.feature_boxes_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feature_boxes_icon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feature_boxes_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feature_boxes_url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.feature_boxes_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.feature_boxes_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.feature_boxes_id })
        </td>
    </tr>
}

</table>
