@model Fancy_Magazine.ViewModels.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}
<!--================Slider Area =================-->
<section class="main_slider_area">
    <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
        <ul>
            @foreach (var item in Model.Slider)
            {
                <li data-index="rs-2946" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/Uploads/@item.slider_img" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box">
                        <div class="tp-caption tp-resizeme rev-btn first_text"
                             data-x="['center','center','center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-130','-130','-130','-80','-80','-80']"
                             data-fontsize="['12','12','12','12','12']"
                             data-lineheight="['64','64','64','50','35']"
                             data-width="['550','550','550','550','300']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-type="button"
                             data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2971-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2971-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-2971-layer-15","delay":"1000"}]'
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['center','center','center','center','center','center']"
                             style="z-index: 8;font-family: 'Poppins', sans-serif;font-weight:600;color:#fff;text-transform: uppercase;"><img src="~/Site-Contents/img/play-video.png" alt=""><span style="text-decoration: underline;padding-left: 10px;">Watch The Overview</span></div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption   tp-resizeme tp-videolayer"
                             id="slide-2971-layer-15"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-whitespace="nowrap"
                             data-type="video"
                             data-responsive_offset="on"
                             data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
                             data-vimeoid="142874198" data-videoattributes="title=0&byline=0&portrait=0&api=1" data-videowidth="['960px','720px','480px','360px']"
                             data-videoheight="['540px','405px','270px','203px']" data-videoloop="none" data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-lasttriggerstate="reset" data-autoplay="off"
                             data-volume="100"
                             style="z-index: 14;text-transform:left;border-width:0px;"></div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption Agency-CloseBtn rev-btn "
                             id="slide-2971-layer-20"
                             data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']"
                             data-width="50"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="button"
                             data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-lasttriggerstate="reset"
                             style="z-index: 15; min-width: 50px; max-width: 50px; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;font-size: 24px;"><i class="fa fa-close"></i></div>

                        <div class="tp-caption tp-resizeme secand_text"
                             data-x="['center','center','center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['0','0','0','0','0']"
                             data-fontsize="['48','48','48','28','28','22']"
                             data-lineheight="['60','60','60','36','36','30']"
                             data-width="100%"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-transform_idle="o:1;"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['center','center','center','center','center','center']"
                             style="z-index: 8;font-family:'Poppins', sans-serif;font-weight:700;color:#fff;">
                            @item.slider_title
                        </div>

                        <div class="tp-caption tp-resizeme slider_button"
                             data-x="['center','center','center','center','center','center']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['130','130','130','100','100','100']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['center','center','center','center','center','center']">
                            <a class="bg_btn" href="@item.slider_first_url">About Us</a>
                            <a class="tp_btn" href="@item.slider_second_url">Get a quote</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
<!--================End Slider Area =================-->
<!--================Creative Feature Area =================-->
<section class="creative_feature_area">
    <div class="container">
        <div class="c_feature_box">
            <div class="row">
                @foreach (var item in Model.FeaturesBoxes)
                {
                    <div class="col-lg-4">
                        <div class="c_box_item">
                            <a href="@item.feature_boxes_url"><h4><i class="@item.feature_boxes_icon" aria-hidden="true"></i> @item.feature_boxes_title</h4></a>
                            <p>@item.feature_boxes_content</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="digital_feature p_100">
            <div class="row">
                @foreach (var item in Model.Blog)
                {
                    <div class="col-lg-6">
                        <div class="d_feature_text">
                            <div class="main_title">
                                <h2>@item.blog_title</h2>
                            </div>
                            <p>@item.blog_content</p>
                            <a class="read_btn" href="@Url.Action("Blog", new { id=item.blog_id})">Read more</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d_feature_img">
                            <img src="~/Uploads/@item.blog_img" alt="@item.blog_title">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--================End Creative Feature Area =================-->
<!--================Industries Area =================-->
<section class="industries_area">
    @foreach (var item in Model.Industry)
    {
        <div class="left_indus">
            <div class="indus_img">
                <img src="~/Uploads/@item.industries_img" alt="@item.industries_title">
            </div>
        </div>
        <div class="right_indus">
            <div class="indus_text">
                <div class="main_title">
                    <h2>@item.industries_title</h2>
                    <p>@item.industries_content</p>
                </div>
                <div class="our_skill_inner">
                    <div class="single_skill">
                        <h3>Website Design</h3>
                        <div class="progress" data-value="90">
                            <div class="progress-bar">
                                <div class="progress_parcent"><span class="counter">90</span>%</div>
                            </div>
                        </div>
                    </div>
                    <div class="single_skill">
                        <h3>Brand Strategy</h3>
                        <div class="progress" data-value="95">
                            <div class="progress-bar">
                                <div class="progress_parcent"><span class="counter">95</span>%</div>
                            </div>
                        </div>
                    </div>
                    <div class="single_skill">
                        <h3>Digital Marketing</h3>
                        <div class="progress" data-value="85">
                            <div class="progress-bar">
                                <div class="progress_parcent"><span class="counter">85</span>%</div>
                            </div>
                        </div>
                    </div>
                    <div class="single_skill">
                        <h3>Website Development</h3>
                        <div class="progress" data-value="90">
                            <div class="progress-bar">
                                <div class="progress_parcent"><span class="counter">90</span>%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="read_btn" href="@item.industries_url">Work with us</a>
            </div>
        </div>
    }
</section>
<!--================End Industries Area =================-->
<!--================Our Service Area =================-->
<section class="service_area" style="background:url(../Uploads/@Model.Service_Area[0].service_img) no-repeat fixed center center">
    <div class="container">
        <div class="center_title">
            <h2>@Model.Service_Area[0].service_title</h2>
            <p>@Model.Service_Area[0].service_content</p>
        </div>
        <div class="row service_item_inner">
            @foreach (var item in @Model.Service_Area_Contents)
            {
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="@item.service_contents_icon"></i>
                        <h4>@item.service_contents_title</h4>
                        <p>@item.service_contents_content</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================End Our Service Area =================-->
<!--================Testimonials Area =================-->
<section class="testimonials_area p_100">
    <div class="container">
        <div class="testimonials_slider owl-carousel">
            @foreach (var item in Model.Testimonials_Slider)
            {
                <div class="item">
                    <div class="media">
                        <img class="d-flex rounded-circle" src="~/Uploads/@item.testimonials_slider_img" alt="@item.testimonials_slider_author">
                        <div class="media-body">
                            <i class="@item.testimonials_slider_icon"></i>
                            <p>@item.testimonials_slider_content</p>
                            <h4><a href="#">@item.testimonials_slider_author</a> - @item.testimonials_slider_position</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================End Testimonials Area =================-->
<!--================Project Area =================-->
<section class="project_area">
    <div class="container">
        <div class="project_inner">
            @foreach (var item in Model.Project_Area)
            {
                <div class="center_title">
                    <h2>@item.project_area_title</h2>
                    <p>@item.project_area_content</p>
                </div>
                <a class="tp_btn" href="@item.project_area_url">WORK WITH US</a>
            }
        </div>
    </div>
</section>
<!--================End Project Area =================-->
<!--================Latest News Area =================-->
<section class="latest_news_area p_100">
    <div class="container">
        <div class="b_center_title">
            <h2>Latest News</h2>
            <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p>
        </div>
        <div class="l_news_inner">
            <div class="row">
                @foreach (var item in Model.LatestBlogs)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="l_news_item">
                            <div class="l_news_img"><a href="@Url.Action("Blog",new { id=item.blog_id})"><img class="img-fluid" src="~/Uploads/@item.blog_img" alt="@item.blog_title"></a></div>
                            <div class="l_news_content">
                                <a href="@Url.Action("Blog",new { id=item.blog_id})"><h4>@item.blog_title</h4></a>
                                <p>@item.blog_content.Substring(0,100)</p>
                                <a class="more_btn" href="@Url.Action("Blog",new { id=item.blog_id})">Learn More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--================End Latest News Area =================-->