@model Fancy_Magazine.Models.Slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.slider_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slider_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slider_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slider_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slider_first_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slider_first_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slider_second_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slider_second_url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.slider_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
